/* Auth classes */

.authentication {
    border: 8px solid darkblue;
    border-radius: 16px;
    background-color: white;
}

.authentication p {
    font-family: Arial;
    font-size: 32px;
    color: blue;
    text-shadow: 2px 2px 4px darkgray;
    text-align: center;
}

.authentication ul {
    list-style-type: none;
    text-align: center;
    line-height: 1.8;
}

.authentication ul li input {
    font-size: 32px;
}

/* User status classes */

.user-status-ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
}