<!DOCTYPE html>
<html>
    <head>
        <title>Регистрация | Кванториум </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <header class="quantorium-header">
            <img src="{{ url_for('static', filename='images/QuantoriumLogo.png') }}" alt="QuantoriumLogo" width="200">
        </header>
        <div class="authentication">
            <p>Регистрация</p>
            <ul>
                <li><input type="text" id="auth-name-input" placeholder="Name"></li>
                <li><input type="text" id="auth-password-input" placeholder="Password"></li>
            </ul>
            <ul class="user-status-ul">
                <li><button class="set-user-status-button" id="set-student-status-button">Ученик</button></li>
                <li><button class="set-user-status-button" id="set-teacher-status-button">Учитель</button></li>
            </ul>
            <ul>
                <li><button class="sign-up-button" id="sign-up-button">Зарегистрироваться</button></li>
            </ul>
        </div>
        <script type="module" src="{{ url_for('static', filename='js/SignUp.js') }}"></script>
    </body>
</html>