<!DOCTYPE html>
<html>
    <head>
        <title>Методическая информация для учителей | Кванториум</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/methodologic.css') }}">
    </head>
    <body>
        <header class="quantorium-header">
            <img src="{{ url_for('static', filename='images/QuantoriumLogo.png') }}" alt="QuantoriumLogo" width="200">
        </header>
        <div class="quantorium-methodologic-information-container">
            <div class="quantum-methodologic-information-container">
                <p class="methodologic-header"><strong>Промробоквантум</strong></p>
                <button class="quantorium-button">Методическая информация</button>
            </div>
        </div>
    </body>
</html>