<!DOCTYPE html>
<html>
    <head>
        <title>Профиль | Замена учителя</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/quantorium.css') }}">
    </head>
    <body>
        <header class="quantorium-header quantorium-theme">
            <ul class="quantorium-widget-list quantorium-widget-horizontal-menu">
                <li><button class="quantorium-button" id="main-redirect-button">На главную</button></li>
                <li><button class="quantorium-button" id="about-redirect-button">О нас</button></li>
            </ul>
        </header>
        <main class="quantorium-main quantorium-theme">
            <div>
                <p class="quantorium-info-textlabel quantorium-centralized-textlabel"><strong>Ваш профиль</strong></p>
                <ul class="quantorium-widget-list quantorium-widget-centralized-menu">
                    <li><p class="quantorium-info-textlabel" id="user-current-name" class="quantorium-textlabel">Имя: </p></li>
                    <li><p class="quantorium-info-textlabel" id="user-current-status" class="quantorium-textlabel">Статус: </p></li>
                    <li><p class="quantorium-info-textlabel" id="user-current-id" class="quantorium-textlabel">ID: </p></li>
                </ul>
            </div>
            <div>
                <p class="quantorium-info-textlabel quantorium-centralized-textlabel"><strong>Обновить профиль</strong></p>
                <ul class="quantorium-widget-list quantorium-widget-centralized-menu">
                    <li><input id="user-new-name-input" class="quantorium-input" placeholder="Новое имя"></input></li>
                    <li><input id="user-new-password-input" class="quantorium-input" placeholder="Новый пароль"></input></li>
                </ul>
                <p class="quantorium-info-textlabel quantorium-centralized-textlabel" id="profile-info">Рекомендуем вводить надежный пароль. Избегайте вариантов 1234 или ABCD в целях Вашей же безопасности. Мы стремимся к защите Ваших персональных данных</p>
                <ul class="quantorium-widget-list quantorium-widget-horizontal-menu">
                    <li><button class="quantorium-button" id="profile-update-button">Обновить профиль</button></li>
                    <li><button class="quantorium-button" id="profile-delete-button">Удалить профиль</button></li>
                </ul>
            </div>
        </main>
        <footer class="quantorium-footer quantorium-theme">
            <ul class="quantorium-widget-list">
                <li><p class="quantorium-info-textlabel quantorium-centralized-textlabel">Наша почта на Mail.ru: vage09inboxru@mail.ru</p></li>
            </ul>
        </footer>
        <script type="module" src="{{ url_for('static', filename='js/Profile/UpdateProfileData.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/Profile/PostProfileDataToServer.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/Profile/GetProfileDataFromServer.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/Profile/DeleteProfileData.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/Redirect/Main.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/Redirect/About.js') }}"></script>
    </body>
</html>