<!DOCTYPE html>
<html>
    <head>
        <title>Промробоквантум: методическая информация | Замена учителя</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/methodologic.css') }}">
    </head>
    <body>
        <header class="quantum-header">
            <img src="{{ url_for('static', filename='images/IndustrialRoboticsQuantumLogo.png') }}" alt="IndustrialRoboticsQuantumLogo" width="200">
        </header>
        <main>
            <div class="methodologic-information">
                
            </div>
        </main>
        <footer class="quantorium-footer">
            <p>Наша почта: vage09inboxru@mail.ru</p>
        </footer>
    </body>
</html>